html {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: url(../images/starfield.png);
  color: #fff;
}

.banner{
  position:absolute;
  bottom: 50%;
  left: 35%;
}

img{
  height: 30px;
}

.img-flex {
  display: inline-block;
  width: 50px;
}

.btn {

}

.btn-ghost {

}
